@model System.Data.DataTable
@using System.Data;
@{
    Layout = null;
}
<style>
    table td:hover {
        background-color: rgba(0,0,0,.075);
    }
</style>
<div class="table-responsive">
    
    <table class="table text-nowrap table-bordered " id="mytable" style="width:100%;">
        <thead>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    if (@col.ColumnName != "Type")
                    {
                    <th>@col.ColumnName</th>
                    }

                }
                <th></th>
                
            </tr>

        </thead>
        <tbody>
            @{
                foreach (DataRow row in Model.Rows)
                {
                         var TypeIn = "";
                         var TypeOut = "";
                         @if (@row["Type"].ToString() == "In")
                         {
                             TypeIn = "checked";
                             TypeOut = "";
                         }
                         else
                         {
                             TypeIn = "checked";
                             TypeOut = "checked";
                         }
                         <tr>

                            @foreach (DataColumn col in Model.Columns)
                            {
                                if (@col.ColumnName != "Type")
                                {
                                     <td> @row[col.ColumnName]</td>
                                }

                            }

                         <td >
                             <div class="container-fluid">
                                
                                 <div class="col-sm-6">
                                     <label class="radio-inline">
                                         <input type="radio" name="@string.Format("InAndOut{0}", @row["Id"])" @TypeIn value="In" onchange="changeInAndOut(@row["Id"])" disabled> &nbsp &nbsp &nbsp In
                                     </label>
                                 </div>
                                 
                                 <div class="col-sm-6">
                                     <label class="radio-inline">
                                         <input type="radio" name="@string.Format("InAndOut{0}", @row["Id"])" @TypeOut value="Out" onchange="changeInAndOut(@row["Id"])" disabled>&nbsp &nbsp &nbsp Out
                                     </label>
                                 </div>
                             </div>
                           
                         </td>   
                      
                        </tr>
                    }
                }
            </tbody>
    </table>
</div>